@model IEnumerable<FilmFestival.Models.View_Models.FilmIndex>
@{
    ViewBag.Title = "Films";
    var nextPage = ViewBag.PageIndex + 1;
    var previousPage = ViewBag.PageIndex - 1;

}

<div id="filmList">
    @foreach (var film in Model)
    {
        <div class="filmCell">
            <div class="filmCellImage">
                <img src="@film.PreviewImgPath" />
                <div class="popUp">
                    @Html.Raw(film.BriefSummary)
                </div>
            </div>           
            <h2><a href="/Films/Info?filmID=@film.ID"><strong>@film.Title</strong></a></h2>
            <span>Dir. - @film.Director</span>
        </div>
    }       
</div>

@Html.Partial("_pageList", new FilmFestival.Models.View_Models._pageList { Previous = previousPage, Next = nextPage, ContentType = ViewBag.Title})

