@model FilmFestival.Models.View_Models.FilmInfo
@{
    ViewBag.Title = "Films";
}

<div class="newsBody">
    <div class="newsImage">
        <img src="@Model.InfoImgPath" />
    </div>

    <h2 class="newsFilmTitle"><strong>@Model.Title</strong></h2>
    <div class="filmDetails">
        <span><strong>@Model.YearReleased || DIR. - @Model.Director || @Model.Country || @Model.Runtime MIN.</strong></span>
    </div>      

    @Html.Partial("_socialMediaBar")

    <div class="newsParagraph">
        <h3>Brief Summary</h3>
        @Html.Raw(Model.BriefSummary)

        <h3>Full Description</h3>
        @Html.Raw(Model.FullDescription)
    </div>
        
    <h3 id="newsShowtimesHeader">Showtimes</h3>
    <p><strong>*Click a showtime to see available seats*</strong></p>
    <div class="showtimesAndReservationsContainer">
        <div class="newsShowtimesContainer">
            <div class="newsShowtimesDate">
                <span><strong>Wednesday, September 27<sup>th</sup></strong></span>
            </div>
            <div class="newsWednesdayShowings">
                <div class="newsShowtimesTheatre">
                    <span>Alamo Drafthouse South Lamar</span>
                </div>
                <div class="newsShowtimesTimes">
                    @foreach (var showtime in Model.Showtimes.Where(w => w.Date.ToShortDateString() == "9/27/2017").Where(w => w.Theatre == "Alamo Drafthouse South Lamar"))
                    {
                        <button id="@showtime.ID" class="showtimeButton" onclick="">@showtime.Time.ToShortTimeString()</button>
                    }
                </div>

                <div class="newsShowtimesTheatre">
                    <span>Alamo Drafthouse East Central</span>
                </div>
                <div class="newsShowtimesTimes">
                    @foreach (var showtime in Model.Showtimes.Where(w => w.Date.ToShortDateString() == "9/27/2017").Where(w => w.Theatre == "Alamo Drafthouse East Central"))
                    {
                        <button id="@showtime.ID" class="showtimeButton" onclick="">@showtime.Time.ToShortTimeString()</button>
                    }    
                </div>
            </div>

            <div class="newsShowtimesDate">
                <span><strong>Thursday, September 28<sup>th</sup></strong></span>
            </div>
            <div class="newsThursdayShowings">
                <div class="newsShowtimesTheatre">
                    <span>Alamo Drafthouse South Lamar</span>
                </div>
                <div class="newsShowtimesTimes">
                    @foreach (var showtime in Model.Showtimes.Where(w => w.Date.ToShortDateString() == "9/28/2017").Where(w => w.Theatre == "Alamo Drafthouse South Lamar"))
                    {
                        <button id="@showtime.ID" class="showtimeButton" onclick="">@showtime.Time.ToShortTimeString()</button>
                    } 
                </div>
                <div class="newsShowtimesTheatre">
                    <span>Alamo Drafthouse East Central</span>
                </div>
                <div class="newsShowtimesTimes">
                    @foreach (var showtime in Model.Showtimes.Where(w => w.Date.ToShortDateString() == "9/28/2017").Where(w => w.Theatre == "Alamo Drafthouse East Central"))
                    {
                        <button id="@showtime.ID" class="showtimeButton" onclick="">@showtime.Time.ToShortTimeString()</button>
                    }    
                </div>
            </div>
        </div>

        <div class="newsSeatReservation">
            
            <span><strong>Choose your desired seat and click 'Reserve' below the theatre diagram.</strong></span>
            <div id="theatreFloorplan">
                <form id="seatList" method="put" action="">
                    <!-- _seatReservationForm will be rendered here using ajax -->
                </form>
                
                <span id="filmScreen">FILM SCREEN</span>
            </div>
               
            <div id="floorplanLegend">
                <ul id="seatDescription">
                    <li><span class="availableSeat"></span> Available Seat</li>
                    <li><span class="reservedSeat"></span> Reserved Seat</li>
                    <li><span class="selected"></span> Selected Seat</li>
                </ul>
            </div>      
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //changes selected available seat to blue chair 
        let selectRadioButton = () => {
            $('body').on('click', '.availableSeat', function () {
                $(".availableSeat.selected").removeClass("selected");
                $(this).addClass("selected");
            });
        }

        //this function should never do anything because reserved buttons should be disabled
        let selectReservedButton = () => {
            $('body').on('click', '.reservedSeat', function () {
                $(this).addClass("selected");
            });
        }

        //disables reserves seat selection
        document.getElementsByClassName("reservedSeat").disabled = true;

        //clicking showtime button changes seatList to that showtimes seatList
        let loadSeats = () => {
            $('.showtimeButton').click(function () {
                let showID = $(this).attr("id")
                let ajaxUrl = "/Films/SeatReservationForm?showtimeID=" + showID
                $.ajax({
                    url: ajaxUrl
                })
                .done(function (partialViewResult) {
                    $("#seatList").html(partialViewResult)
                });
            });
        }

        //run the functions
        selectRadioButton();
        selectReservedButton();
        loadSeats();
    </script>
    }