@model IEnumerable<FilmFestival.Models.Hotel>

<div id="hotelList">
    @foreach (var hotel in Model)
    {
        <div class="hotelCell">
            <span class="hotelName"><strong>@hotel.Name</strong></span>
            <span>@hotel.Street</span>
            <span>@hotel.City @hotel.StateAbbreviation @hotel.ZipCode</span>
            <span>@hotel.PhoneNumber</span>
        </div>
    }
</div>




