<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantastic Fest - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Piedra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
</head>
<body>
    <div class="body-content">
        <div class="navbar-fixed-top">
            <h1>
                Fantastic Fest
            </h1>

            <ul class="navList">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="">Tickets</a></li>
                <li><a href="~/Film">Films</a></li>
                <li><a href="~/News">News</a></li>
                <li><a href="~/Home/Submit">Submit</a></li>
                <li><a href="~/Travel">Travel</a></li>
            </ul>

            <div class="navLoginLink">
                <a href="">[ Login ]</a>
            </div>
        </div>

        <!--
            <div>
            <img id="filmStripBackground" src="~/Content/Images/grungeFilmStrip.jpg" />
        </div> 
        -->       

        @RenderBody()
    </div> 
    
    <footer>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
