@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantastic Fest - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Piedra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="body-content">
        <div class="navbar-fixed-top">
            <a href="~/Home/Index">
                <h1>
                    Fantastic Fest
                </h1>
            </a>

                <ul class="navList">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="~/Attend">Badges</a></li>
                    <li><a href="~/Films">Films</a></li>
                    <li><a href="~/News">News</a></li>
                    <li><a href="~/Home/Submit">Submit</a></li>
                    <li><a href="~/Travel">Travel</a></li>
                </ul>

                <div class="navLoginLink">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("user"))
                        {
                            <a href="~/Account/UserDashboard/@User.Identity.GetUserId()">@User.Identity.GetUserName()</a>
                        }
                        else
                        {
                            <a href="~/Account/AdminDashboard">@User.Identity.GetUserName()</a>
                        }
                    }
                    else
                    {
                        <a href="~/Account/Login">[ Login ]</a>
                    }
                </div>
</div>     

        @Html.Partial("_pageHeading")

        <div class="pageContent">
            @RenderBody()
        </div>
       
    </div> 
    
    <footer>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @RenderSection("scripts", required: false)
    <!--The below script includes Stripe.js so tokens can be generated for credit card payments-->
    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>
