@model IEnumerable<FilmFestival.Models.View_Models.NewsIndex>
@{
    ViewBag.Title = "News";
    var prev = ViewBag.PageIndex - 1;
    var next = ViewBag.PageIndex + 1;
}

<div class="newsPreviewContainer">
    @foreach (var story in Model)
    {
        <div class="newsPreviewCell">
            <div class="newsPreviewImage">
                <img src="@story.StoryImgPath" />
            </div>

            <div class="newsPreviewDateAndAuthor">
                <span>@story.Date.ToShortDateString() || @story.Author</span>
                <h4><a href="~/News/Story?storyID=@story.ID">@story.Title</a></h4>
            </div>

            <p>@story.SubTitle</p>

            @Html.Partial("_socialMediaBar")
        </div>
    }
</div>

@Html.Partial("_pageList", new FilmFestival.Models.View_Models._pageList{ Previous = prev, Next = next, ContentType = ViewBag.Title})
